.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.body {
  background-color: rgb(220, 224, 238);
  font: 10px sans-serif;
  height: 270px;
  width: 300px;
}
